<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/svgs/logo.png" type="image/x-icon">
    <title>Vision AI | Detection</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            font-family: 'Poppins';
        }

        body::-webkit-scrollbar {
            display: none;
        }

        .loader {
            --c: no-repeat linear-gradient(#126de3 0 0);
            background: var(--c), var(--c), #4d4e4f;
            background-size: 60% 100%;
            animation: l16 3s infinite;
        }

        @keyframes l16 {
            0% {
                background-position: -150% 0, -150% 0
            }

            66% {
                background-position: 250% 0, -150% 0
            }

            100% {
                background-position: 250% 0, 250% 0
            }
        }
    </style>
</head>

<body class="bg-[#1A1A1A] text-gray-300 tracking-widest">

    <img src="/static/svgs/detection-lg.svg" id="responsiveImage" alt="" class="w-full" />
    <div class="flex flex-col items-center">
        <div class="flex justify-evenly items-center mt-10 lg:gap-10 lg:w-3/4 w-11/12">
            <div id="uploadImg"
                class="w-1/4 bg-gray-700 shadow-md shadow-blue-900 rounded-2xl hover:bg-gray-600 transition-all active:scale-95 py-5 cursor-pointer ">
                <form id="uploadImgForm" enctype="multipart/form-data" method="post" action="{% url 'detection_page' %}"
                    class="flex flex-col items-center gap-3">
                    {% csrf_token %}
                    <img class="lg:w-10 w-1/3" alt="" src="/static/svgs/upload_icon.png
                    ">
                    <span class="lg:text-xl lg:text-3xl text-md font-medium">Image</span>
                    <input type="file" id="imageInput" accept="image/*" class="hidden" name="file">
                </form>
            </div>

            <div id="uploadVid"
                class="w-1/4 bg-gray-700 shadow-md shadow-blue-900 rounded-2xl hover:bg-gray-600 transition-all active:scale-95 py-5 cursor-pointer ">
                <form id="uploadVidForm" enctype="multipart/form-data" method="post" action="{% url 'detection_page' %}"
                    class="flex flex-col items-center gap-3">
                    {% csrf_token %}
                    <img class="lg:w-12 w-1/3" alt="" src="/static/svgs/video-camera.png
                    ">
                    <span class="lg:text-xl lg:text-3xl text-md font-medium">Video</span>
                    <input type="file" id="videoInput" accept="video/*" class="hidden" name="file">
                </form>
            </div>

            <button id="camera-button" onclick=window.location.href='/live-camera-feed/'
                class="bg-gray-700 shadow-md shadow-blue-900 flex flex-col items-center gap-3 py-5 w-1/4 rounded-2xl hover:bg-gray-600 transition-all active:scale-95">
                <img class="lg:w-10 w-1/3" alt="" src="/static/svgs/camera_icon.png" />
                <span class="lg:text-xl lg:text-3xl text-md font-medium">Camera</span>
            </button>
        </div>

        <div id="inputs" class="hidden flex flex-col items-center w-10/12 m-20 gap-10">
            <div id="previewFrame" class="flex justify-center">
            </div>
            <div id="file" class="flex justify-between items-center gap-10 px-5 py-1 rounded lg bg-gray-800">
                <p id="filename" class="lg:text-xl text-sm text-2xl"></p>
                <img id="removeFile" class="lg:h-8 h-6 hover:cursor-pointer" src="/static/svgs/cross_icon.png" alt="">
            </div>
            <button id="detectBtn"
                class="bg-blue-700 rounded-xl flex items-center gap-2 py-2 px-5 active:scale-95 transition-all">
                <span class="lg:text-xl text-lg tracking-widest font-bold text-white">Detect</span>
                <img src="/static/svgs/magic_icon.png" class="w-8" alt="">
            </button>
        </div>

        <div id="animation" class="w-screen lg:mt-0 mt-20 flex justify-center items-center hidden">
            <img src="/static/svgs/search-animate.svg" class="lg:w-1/2" alt="">
        </div>
        <div class="w-10/12 flex flex-col items-center mt-3 mb-10 hidden" id="loaderbox">
            <p>Detecting...</p>
            <div class="loader w-10/12 h-2 rounded m-5 "></div>
            <p>This won't take too long. Please wait</p>
        </div>
        <div id="outputs" class="w-full flex flex-col items-center hidden">
            <div class="w-10/12 flex flex justify-start items-center gap-5">
                <img src="/static/svgs/ai_logo.png" alt="" class="h-10">
                <p class="text-3xl font-black text-blue-500 tracking-wides">AI Detections</p>
            </div>

            

            <div id="outputPreview" class="w-10/12 flex justify-center my-10"></div>

            <div id="totalDetect" class="lg:w-1/2 w-10/12 lg:m-5 m-2 text-center font-bold text-xl text-blue-300"></div>
            <div id="detectionsContainer" class='lg:m-3 mx-10'></div>
        </div>

        <div id="dnload" class="hidden bg-gray-700 px-3 flex justify-center items-center py-1 rounded-lg my-5">
            <a id="download-output" class="text-center" download></a>
        </div>

    </div>

    <script>
        function setImageSrc() {
            const image = document.getElementById('responsiveImage');
            if (window.innerWidth <= 768) {
                image.src = '/static/svgs/detection-sm.svg';
            } else {
                image.src = '/static/svgs/detection-lg.svg';
            }
        }

        window.onload = setImageSrc;
        window.onresize = setImageSrc;

        let fileChosen = false;
        document.getElementById('uploadImg').addEventListener('click', () => {
            document.getElementById('imageInput').click();
        })
        document.getElementById('uploadVid').addEventListener('click', () => {
            document.getElementById('videoInput').click();
        })

        function checkFileChosen() {
            if (fileChosen) {
                document.getElementById('animation').classList.add('hidden');
                document.getElementById('inputs').classList.remove('hidden');
                document.getElementById('outputs').classList.add('hidden');
                document.getElementById('dnload').classList.add('hidden');
                document.getElementById('loaderbox').classList.add('hidden');
            }
            else {
                document.getElementById('animation').classList.remove('hidden');
                document.getElementById('inputs').classList.add('hidden');
            }
        }

        function scrollToBottom() {
            setTimeout(() => {
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: 'smooth'
                });
            }, 500);
        }

        let file = null;
        let fileType = null;
        let pressDetection = false;
        let backendResponse = false;
        function handleFileSelection(event, type) {
            file = event.target.files[0];
            if (file) {
                fileChosen = true;
                fileType = type;
                checkFileChosen();
                backendResponse = false;
                checkBackendresponse();
                const fileURL = URL.createObjectURL(file);
                const previewFrame = document.getElementById('previewFrame');

                if (fileType === 'img') {
                    previewFrame.innerHTML = `<img src=${fileURL} class='lg:w-8/12 w-10/12 rounded-lg'/>`;
                } else {
                    previewFrame.innerHTML = `
                    <video class='lg:w-8/12 w-10/12 rounded-lg' autoplay controls>
                        <source src="${fileURL}" type="video/mp4">
                    </video>`;
                }

                document.getElementById('filename').textContent = file.name;
                scrollToBottom();
            }
        }

        document.getElementById('imageInput').addEventListener('change', (event) => handleFileSelection(event, 'img'));
        document.getElementById('videoInput').addEventListener('change', (event) => handleFileSelection(event, 'vid'));

        if (!pressDetection) {
            document.getElementById('removeFile').addEventListener('click', () => {
                fileChosen = false;
                fileType = null;
                checkFileChosen();
            })
        }



        function checkPressDetection() {
            if (pressDetection) {
                document.getElementById('loaderbox').classList.remove('hidden');
            }
            else {
                document.getElementById('loaderbox').classList.add('hidden');
            }
            scrollToBottom();
        }

        function checkBackendresponse() {
            if (backendResponse) {
                document.getElementById('outputs').classList.remove('hidden');
            }
            else {
                document.getElementById('outputs').classList.add('hidden');
            }
        }
        document.getElementById('detectBtn').addEventListener('click', handleDetection);
        async function handleDetection() {
            pressDetection = true;
            checkPressDetection();

            const formData = new FormData();
            formData.append('file', file);

            try {
                const response = await fetch('/detect/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const data = await response.json();
                backendResponse = true;
                checkBackendresponse();
                if (fileType === 'img') {
                    handleImageResponse(data);
                } else {
                    handleVideoResponse(data);
                }
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            } finally {
                pressDetection = false;
                checkPressDetection();
            }
            scrollToBottom();
        }
        function handleImageResponse(data) {
            document.getElementById('outputPreview').innerHTML = `
            <img src="/static/yolo_predictions/${data.annotated_image}" class="lg:w-8/12 w-full rounded-lg"/>
        `;
            document.getElementById('totalDetect').textContent = `${data.detection_results.class_names.length} Objects Detected`;

            let outputHTML = '';
            data.detection_results.class_names.forEach((className, index) => {
                const confidence = (data.detection_results.scores[index] * 100).toFixed(2);
                outputHTML += `<div class='my-2'>
            <span class='lg:text-xl text-md text-white'><b>Object ${index + 1} :</b> ${className} with ${confidence}% confidence</span><br>
        </div>`;
            });
            document.getElementById('detectionsContainer').innerHTML = outputHTML;
            document.getElementById('download-output').href = `/static/yolo_predictions/${data.annotated_image}`;
            document.getElementById('download-output').textContent = 'Download Detected Image';
            document.getElementById('dnload').classList.remove('hidden');
        }

        function handleVideoResponse(data) {
            document.getElementById('outputPreview').classList.remove('hidden');
            if (data.annotated_video) {
                document.getElementById('outputPreview').innerHTML = `
                    <video class='lg:w-8/12 w-10/12 rounded-lg my-10' autoplay controls>
                    <source src="/static/yolo_predictions/${data.annotated_video}" type="video/mp4">
                    </video>`;
            }
            if (data.detection_results) {
                document.getElementById('totalDetect').textContent = `${data.detection_results.length} Types of Object Detected`;
                let outputHTML = '';
                data.detection_results.forEach((classes, index) => {
                    outputHTML += `<div class='my-2'>
                        <span class='text-center'>${classes}</span>
                    </div>`;
                })
                document.getElementById('detectionsContainer').innerHTML = outputHTML;
            }
            document.getElementById('download-output').href = `/static/yolo_predictions/${data.annotated_video}`;
            document.getElementById('download-output').textContent = 'Download Detected Video';
            document.getElementById('dnload').classList.remove('hidden');

        }
    </script>
</body>

</html>